.hero_section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero_section .hero_logo_wrapper {
  position: absolute;
  left: calc(50% - 122.5px);
  top: calc(50% - 230px);
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero_section .hero_logo_wrapper button {
  padding: 20px 50px 20px 50px;
  background-color: transparent;
  border: 1px solid rgba(252, 252, 252, 0.4784313725);
  color: #fcfcfc;
  font-family: "Raleway", sans-serif;
  z-index: 10;
  font-size: 8pt;
  transition: 0.3s ease-in;
}
.hero_section .hero_logo_wrapper button:after {
  background-color: transparent;
  width: 183px;
  height: 52px;
  position: absolute;
  left: 27px;
  bottom: 6px;
  content: "";
  border: 1px solid rgba(252, 252, 252, 0.4784313725);
  transition: 0.3s ease-out;
}
.hero_section .hero_logo_wrapper button:hover {
  color: #386e35;
  background-color: #fcfcfc;
  font-weight: bold;
}
.hero_section .hero_logo_wrapper button:hover:after {
  left: 35px;
  bottom: 0px;
}
.hero_section .logo {
  z-index: 10;
  margin-bottom: 40px;
  border-radius: 14%;
  width: 350px;
}
.hero_section h1 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  bottom: 0;
  left: 100px;
  color: #fcfcfc;
  font-size: 48pt;
  width: 640px;
  z-index: 10;
}
.hero_section .hero_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

.hero_scroll_container {
  position: absolute;
  bottom: 60px;
  left: 30px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_scroll_container h5 {
  text-orientation: upright;
  writing-mode: vertical-rl;
  color: #fcfcfc;
  font-family: "Raleway", sans-serif;
  margin: 0 0 10px 0;
  font-size: 6pt;
}
.hero_scroll_container img {
  width: 15px;
}

.hero_copyright {
  position: absolute;
  bottom: 0;
  right: 35px;
  color: #fcfcfc;
  z-index: 10;
  font-size: 7pt;
  font-family: "Raleway", sans-serif;
}

.hero_nav_ul {
  display: flex;
  list-style: none;
}
.hero_nav_ul a {
  color: #fcfcfc;
  padding: 15px 25px;
  font-family: sans-serif;
  font-family: "Raleway", sans-serif;
  transition: 0.3s ease-in;
  cursor: pointer;
  text-decoration: none;
  margin-top: 13px;
}
.hero_nav_ul a:hover {
  color: #386e35;
}

.hero_nav_dropdown_wrapper {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.hero_nav_dropdown_wrapper .hero_nav_dropdown {
  padding-bottom: 0;
  border-radius: 3px;
}
.hero_nav_dropdown_wrapper .hero_nav_dropdown ul {
  margin-top: 0;
  padding-top: 0;
  border-radius: 0;
  background-color: #386e35;
}
.hero_nav_dropdown_wrapper .hero_nav_dropdown ul li span {
  color: #fcfcfc;
  font-family: "Raleway", sans-serif;
}
.hero_nav_dropdown_wrapper .hero_nav_dropdown ul li:hover > span {
  color: #386e35;
}
.hero_nav_dropdown_wrapper .hero_nav_dropdown button {
  border: none;
}
.hero_nav_dropdown_wrapper .hero_nav_dropdown button span {
  color: #fcfcfc;
  font-family: "Raleway", sans-serif;
}
.hero_nav_dropdown_wrapper .hero_nav_dropdown button::after {
  border-top: 5px solid #fcfcfc;
}

.open > div {
  transform: translateX(-50px);
  background-color: transparent;
}

.open > div::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open > div::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (max-width: 767px) {
  .hero_section .logo {
    z-index: 10;
    margin-bottom: 40px;
    border-radius: 14%;
    width: 290px;
  }
  .hero_section .hero_copyright {
    font-size: 4pt;
    bottom: 130px;
  }
  .hero_section h1 {
    left: 60px;
    color: #fcfcfc;
    font-size: 24pt;
    width: 80%;
    bottom: 130px;
  }
  .hero_section .hero_scroll_container {
    left: 20px;
    bottom: 130px;
  }
  .hero_section .hero_scroll_container h5 {
    font-size: 5pt;
  }
  .hero_section .hero_scroll_container img {
    width: 10px;
  }
}
@media (max-width: 480px) {
  .hero_section .hero_copyright {
    font-size: 4pt;
    bottom: 50px;
  }
  .hero_section .hero_scroll_container {
    bottom: 60px;
  }
  .hero_section .hero_text_banner {
    bottom: 50px;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

.card_title {
  background-color: #fcfcfc;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.card_title p {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 15pt;
}

.card_top img {
  max-width: 100%;
}

.card_bottom {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 13px;
}
.card_bottom p {
  margin: 0;
  padding: 20px 20px 0 20px;
  font-family: "Nunito";
  line-height: 20pt;
  text-align: center;
  font-size: 14pt;
  color: #737779;
}
.card_bottom .card_location_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  margin-top: 15px;
}
.card_bottom .card_location_wrapper p {
  font-size: 12pt;
  color: #386e35;
  padding: 0;
  padding-left: 20px;
}

@keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}
.products {
  flex-direction: column;
  display: flex;
  position: relative;
  background-color: #fcfcfc;
  margin-top: 100vh;
  width: 100vw;
}
.products .products_title {
  width: 100%;
  font-family: "Raleway", sans-serif;
  padding: 0px 0 30px 0;
  color: #333;
  text-align: center;
  font-size: 24pt;
  font-weight: 200;
  margin: 0;
}

.products_why_us h2 {
  width: 100%;
  font-family: "Raleway", sans-serif;
  padding: 30px 0 45px 0;
  color: #333;
  text-align: center;
  font-size: 24pt;
  font-weight: 200;
}
@media (max-width: 767px) {
  .products_why_us h2 {
    padding: 25px 0 0 0;
  }
}

.products_content {
  display: flex;
  width: 100%;
  z-index: 10;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-root {
  display: contents;
  width: 100%;
}

.formWrapper {
  width: 100vw;
  background-color: #dde4e4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, textarea {
  width: 60%;
  margin: 2px 0 2px 0;
  padding: 18px 28px;
  border: none;
  background-color: #333;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}
input:focus, textarea:focus {
  outline: #3f9a39 auto 1px;
}
@media (max-width: 767px) {
  input, textarea {
    width: 100%;
  }
}

textarea {
  padding: 12px 28px 90px 28px;
  resize: none;
}

::-moz-placeholder {
  color: #ffffff;
  font-weight: lighter;
}

::placeholder {
  color: #ffffff;
  font-weight: lighter;
}

.form-icon {
  width: 35px;
  height: 35px;
  color: #ffffff;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #333;
  padding: 12px 18px;
  margin-top: 20px;
  border-radius: 50%;
}

.contactTextWrapper {
  width: 360px;
  padding: 12px 18px;
}

p {
  font-family: "Raleway", sans-serif;
  color: #575757;
  font-size: 14pt;
  line-height: 20pt;
  text-align: center;
}

label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

button {
  background-color: #333;
  padding: 12px 20px 12px 20px;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  color: #fcfcfc;
  font-family: "Raleway", sans-serif;
  transition: all 0.3s ease-in-out;
}
button:focus {
  outline: #3b4e6b auto 1px;
}
button:hover {
  background-color: #386e35;
  color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */